-
    const home = '/'
    const user = '/users'

nav
    ul
        li: a(href='/' class=location === home ? 'active' : '') Home
        li: a(href='/users' class=location === user ? 'active' : '') Users