extends layout
block title
    title Ajouter un élève

block stylesheets
    link(rel='stylesheet' href='/assets/css/home.css')

block content
    div.container
        form(method='POST' action='/').form
            input(type='text' id='name' name='name' placeholder='Nom de l\'élève').formInput
            input(type='date' id='birth' name='birthdate' placeholder='Date de naissance').formInput
            input(type='submit' value='Ajouter').formSubmit
            span.formError

block scripts
    script.
        const form = document.querySelector('.form');
        const nameInput = document.querySelector('#name');
        const birthInput = document.querySelector('#birth');
        const formError = document.querySelector('.formError');

        form.addEventListener('submit', (event) => {
            const name = nameInput.value;
            const birthdate = birthInput.value;
            if (name.trim().length === 0) {
                event.preventDefault();
                formError.textContent = 'Le nom ne peut pas être vide';
                return;
            }
            if (birthdate.trim().length === 0) {
                formError.textContent = 'La date de naissance ne peut pas être vide';
                event.preventDefault();
                return;
            }
            formError.textContent = '';
        });